.card-playlist{
  height: 100px;
  max-width: 45%;
  margin: 2%;
}
.button{
  display: flex;
  justify-content: right;
}
.btn-space {
  margin-right: 15px;
}
.mat-card-title{
  margin-left: 10%;
}
#creer{
  width: 150px;
  margin-left: 2%;
  font-size: 18px;

}
