<div class="container">
  <form class="form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput required [(ngModel)]="userName" name="userName">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [(ngModel)]="email"
        name="email"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Veuillez saisir votre adresse email
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'adresse email est <strong>requise</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="input" appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        [(ngModel)]="password"
        name="password"
      />
      <mat-error *ngIf="!passwordFormControl.hasError('required')">
        Veuillez saisir votre mot de passe
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Pays</mat-label>
      <mat-select
        [(ngModel)]="country"
        [formControl]="countryFormControl"
        name="country"
      >
        <mat-option *ngFor="let country of CountryList" [value]="country.value">
          {{ country.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!countryFormControl.hasError('required')">
        Veuillez saisir le pays cible
      </mat-error>
      <mat-error *ngIf="countryFormControl.hasError('required')">
        Le pays est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Catégorie</mat-label>
      <mat-select
        [(ngModel)]="interest"
        [formControl]="interestFormControl"
        name="category"
      >
        <mat-option
          *ngFor="let interest of InterestList"
          [value]="interest.value"
        >
          {{ interest.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!interestFormControl.hasError('required')">
        Veuillez saisir une catégorie
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Date de naissance</mat-label>
      <input matInput [matDatepicker]="dateOfBirth" [(ngModel)]="dateOfBirth" name="date">
      <mat-datepicker-toggle matSuffix [for]="dateOfBirth">
      </mat-datepicker-toggle>
      <mat-datepicker></mat-datepicker>
    </mat-form-field>
  </form>

  <a mat-button  class="btn btn-info" (click)="retour()">Retour</a>
  <!---To do add la fonction pour valider-->
  <button mat-flat-button color="primary" (click)="inscrire()">
  Valider
  </button>


</div>
