.title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pub-content {
  height: 250px;
  width: 450px;
  border: 1px solid black;
}

.pub-content span {
  text-align: center;
  margin: 0 auto;
}

.buttons {
  padding-top: 15px;
}
